*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333333;
    @font-face {
        font-family:abhi;
        src: url('./source-sans-pro/SourceSansPro-BoldIt.otf');
    };
}
body{
    background-color: #ffffff;
    font-family:monospace,serif;
    font-weight: bolder;
    overflow-x: hidden;
}
a,li{
    text-decoration: none;
    list-style-type: none;

}
.navbar ul li:hover> a{
    /* color: #7441e2; */
    color: #ffffff;
    text-shadow: 0px 0px 2px #7441e2;
}
.burgermenu{
    display: none;
}
.navbar ul li:hover{
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.30),0px 0px 2.5px 3px rgba(0, 0, 0, 0.30);
    background-color: #7441e2;
}
header{
    position:fixed;
    z-index: 3;
    width: 100vw;
    height: 68px;
    /* position: relative; */
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.575);
    text-transform: uppercase;
    font-weight: bolder;
    background-color:#ffffff;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.30),0px 0px 2.5px 3px rgba(0, 0, 0, 0.30);
    padding-right:40px;
}
header .logo .logoimg{
    height: 50px;
    width: 50px;
    background-image: url('./me.jpg');
    border-radius:66% 34% 35% 65% / 48% 35% 65% 52%  ;
    /* border: 2px solid rgb(0, 0, 0); */
    background-position: center;
    background-size: cover;
    background-color: bisque;
    box-shadow: 0px 2.5px 12.5px 0px rgba(0, 0, 0, 0.50) inset,0px 0px 1.25px 1.5px rgba(0, 0, 0, 0.50)inset;

}
header .logo{
    display: flex;
    float: left;
    align-items: center;
    line-height: 1;
    padding:10px 35px ;
    gap: 10px;
    font-size: 20px;
}
header .navbar ul{
    height: 100%;
    display:flex;
    float: right;
    align-items: center;
}
.navbar ul li{
    padding:25px 2.5vh;
}
.firstslide{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8vw;
    width: 97vw;
    margin-left:1vw;
    min-height: 44.5vw;
    background-image: url('./19449741.jpg');
    background-position: center;
    background-size: cover;
    box-shadow: 0px 5px 45px 0px rgba(0, 0, 0, 0.30)inset,
                0px 5px 45px 0px rgb(255, 255, 255)inset,
                0px 5px 25px 0px rgba(0, 0, 0, 0.30),
                0px 5px 25px 0px rgb(255, 255, 255);
    /* border-radius: 27% 73% 24% 76% / 62% 37% 63% 38% ; */
    border: 2px solid #ffffff;
    margin-top:30px;
}
.firstslide .maintext{
    width: 100%;
    height: auto;
    font-size: clamp(2rem, 3.6vw, 4rem);
}
.firstslide .subtext{
    font-size: clamp(1.5rem, 2.2vw, 3rem);
    font-family:Viner Hand;
    font-style: italic;
}
.firstslide .text{
    padding: 0px 15vw;
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    font-family:Kunstler Script;
    /* font-style: italic; */
    /* text-transform:capitalize; */

}
.firstslide .maintext,.subtext,.text{
    height: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-bottom: 1.5vw;
}
.projectbtn{
    background-color: #7441e2;
    color: white;
    padding: 1.5% 5.5%;
    border-radius: 10px;
    border: none;
    /* font-size: 20px; */
    font-size: clamp(1rem, 1.3vw, 2rem);
}
section{
    position: relative;
}
.socialicons{
    position: absolute;
    top: 200px;
    left: -2px;
    /* transform: translateY(-50%); */
    height:clamp(180px,40vw,250px);
    width:58px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    /* border-radius: 5px; */
    border-top-right-radius:15px;
    border-bottom-right-radius: 15px;
    /* border: 1px solid black;     */
    box-shadow: 0px 2.5px 12.5px 0px rgba(0, 0, 0, 0.10),0px 0px 1.25px 1.5px rgba(0, 0, 0, 0.10);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px 3px;
}
.socialicons a i{
    scale: 2.1;
    color: black;
    padding: 5px;
}
.socialicons a:hover>i{
    background-color: #3333338c;
    border-radius: 5px;
}
.socialicons .icon1:hover>i{
    background-color:#0A66C2;
    color: #ffffff;
}
.socialicons .icon2:hover>i{
    background-color:#000000;
    color: #ffffff;
    scale: 1.85;
}
.socialicons .icon3:hover>i{
    background-color:#000000;
    color: #ffffff;
    scale: 1.85;
}
.socialicons .icon4:hover>i{
    background-image:linear-gradient(30deg,#feda75, #fa7e1e,#d62976,#962fbf,#4f5bd5);
    color: #ffffff;
    scale: 1.85;
}
.chatbox {
    position: fixed;
    top: 87%;
    right: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    scale: 0.85;
}
.chatbox .chattext{
    height:55px;
    width:200px;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:900;
    font-size: 20px;
    font-family: monospace;
    background-color: #fafafa;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.10),0px 0px 2.5px 3px rgba(0, 0, 0, 0.10);
}
.chatbox .chatlogo{
    height:75px;
    width: 75px;
    border-radius: 100%;
    display: grid;
    place-items: center;
    padding-top: 5px;
    background-image: linear-gradient(-240deg,#4926c2 30%,#977ce7 90%);
}
.chatbox .chatlogo i{
    color: #fafafa;
    scale: 1.5;
}

#bg4navul{
    display: none;
}
#Aboutpage{
    /* border-radius:66% 34% 35% 65% / 48% 35% 65% 52% ; */
}